<div class="pull-right">
  <%= link_to("发布新职位", new_job_path, :class => "btn btn-primary" ) %>
</div>
<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>
<table class="table table-boldered table-hover table-striped custab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#">主页</a></li>
    <li role="presentation"><a href="#">热门职业</a></li>
    <li role="presentation"><a href="#">急聘</a></li>
    <li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    所在城市 <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a href="#">北京</a></li>
        <li role="presentation"><a href="#">上海</a></li>
          <li role="presentation"><a href="#">广州</a></li>
  </ul>
  </ul>
  <thead>
       <tr class="active">
           <td> 职缺 </td>
           <td>薪资下限</td>
           <td>薪资上限</td>
           <td>刊登时间</td>
       </tr>

   </thead>
   <tbody>
       <% @jobs.each do |job| %>
       <tr>
           <td>
               <%= link_to(job.title, job_path(job)) %>
           </td>
           <td>
               <%= job.wage_lower_bound %>
           </td>
           <td>
               <%= job.wage_upper_bound %>
           </td>
           <td>
               <%= job.created_at %>
           </td>
       </tr>
       <% end %>
   </tbody>
</table>
