<div class="pull-right">
  <%= link_to("发布新职位", new_job_path, :class => "btn btn-danger" ) %>
</div>
<div class="btn-group pull-right" role="group" aria-label="...">
      <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound"), :class => "btn btn-primary", :data => {:toggle => "button"}) %>
      <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound"), :class => "btn btn-primary") %>
      <%= link_to("按照发表时间排序", jobs_path, :class => "btn btn-primary") %>
    </div>
<table class="table table-boldered table-hover table-striped custab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#">目录</a></li>
    <li role="presentation"><a href="#">热门职业</a></li>
    <li role="presentation"><a href="#">职业信息</a></li>
    <li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    所在城市 <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a href="#">北京</a></li>
        <li role="presentation"><a href="#">上海</a></li>
          <li role="presentation"><a href="#">广州</a></li>
          <li role="presentation"><a href="#">武汉</a></li>
  </ul>
  </ul>
  <thead>
       <tr class="active">
           <td> 职缺 </td>
           <td>薪资范围</td>
           <td>刊登时间</td>
       </tr>

   </thead>
   <tbody>
       <% @jobs.each do |job| %>
       <tr>
           <td>
               <%= link_to(job.title, job_path(job)) %>
           </td>
            <td wdith="30%">
             <span class="badge badge-info">
               <span class="fa fa-rmb"></span> <%= job.wage_lower_bound %> -  <%= job.wage_upper_bound %>元
             </span>
           </td>
           <td>
              <%= local_time(job.created_at, '%B %e, %Y %l:%M%p') %>
           </td>
       </tr>
       <% end %>
   </tbody>
</table>
